@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#121212] text-gray-100 overflow-hidden;
        font-family: 'Inter', sans-serif;
        background: radial-gradient(circle at top left, #1a1a2e, #121212, #0d0d12);
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded-full hover:bg-gray-600;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.drag {
    -webkit-app-region: drag;
}

/* Ensure drag events work on full page */
#root {
    height: 100vh;
    width: 100vw;
}